body{
    background: #5d6d7e;
}

.container{
    background: #85929E;
    padding: 20px 20px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
   
    align-items: flex-start;
}

.container div{
    margin: 10px;
    width: 200px;
}

.zolty{
    background: #f4d03f;
    height: 100px;
}

.zielony{
    background: #58d68d;
    height:250px;
    

}

.niebieski{
    background: #3498DB;
    height: 200px;
    
}
